@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  position: relative;
}

nav {
  background: linear-gradient(to right, #283048, #859398);
  color: white;
  position: sticky;
  top: 0;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 30px;
  position: relative;
}
ul > * {
  cursor: pointer;
}
.bag-length {
  position: absolute;
  right: 14%;
  border-radius: 30px;
  padding: 5px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

li {
  color: white;
  list-style: none;
  font-size: 2rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #007991, #78ffd6);
}
.shoes-section {
  display: flex;
  gap: 105px;
  padding: 55px;
}
.shoes-section > img {
  width: 350px;
}

div.shoes-section > :nth-child(1) {
  transform: rotate(-10deg);
}
div.shoes-section > :nth-child(3) {
  transform: rotate(10deg);
}
.info-section {
  justify-self: baseline;
}

.shop--btn {
  padding: 15px 25px;
  background-color: inherit;
  cursor: pointer;
}
.shop--btn:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card > img {
  width: 250px;
  height: 250px;
}
.card > * {
  margin: 5px 0px;
}
.card > button {
  width: 100%;
}

.cards-section {
  display: grid;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
  padding: 30px;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background: linear-gradient(to bottom, #6d6027, #d3cbb8);
}
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: hsl(0 0% 1% / 0.4);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart {
  background-color: hsl(0 0% 100% / 0.7);
  backdrop-filter: blur(1rem);
  width: 30%;
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header-bag {
  display: flex;
  justify-content: space-between;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product {
  display: flex;
  gap: 30px;
  align-items: center;
}
.add--more {
  display: flex;
  gap: 15px;
}
.add--more > button {
  width: 20%;
}
